/* @block p-card */
.root {
  animation: 200ms ease fade;
  animation-name: slide, fade;
}

.root--compact {
  color: red;
}

.fade {
  color: purple;
}

.dialog {
  color: green;
}

:global(.utility) .child {
  display: block;
}

#fade {
  color: blue;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(1px); }
}
